################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/списък/списък/obj/Release/netcoreapp3.1
